/*.picloadjsmask {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}*/

.picloadjs {
    transition: filter 2s ease;
}

.no-padding {
	padding: 0 1em !important;
}

.headerpic {
    transition: opacity 3s ease;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
    background-attachment: fixed, fixed, fixed;
}

.headerpic-show {
    opacity: 1 !important;
}

.headerpic-son {
    transition: opacity 3s ease;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(5px) brightness(100%);
    filter: blur(5px) brightness(100%);
    background-attachment: fixed, fixed, fixed;
}

.photowall {
    background-attachment: fixed, fixed, fixed;
    background-size: cover;
    position: relative;
	z-index: -1;
	padding: 0;
}

.photowall > .container {
    padding: 0; /* 6em 0 4em 0 */
}

.photowall > .mask {
	filter: blur(10px);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px) brightness(80%);
    background-size: cover;
	background-position: center;
    background-attachment: fixed, fixed, fixed;
    z-index: -1;
}

body {
	position: relative;
	z-index: -1000;
}

.para {
	text-indent: 2em;
}

.spe-col > .major {
	text-align: right;
}

@media screen and (max-width: 1140px) {
    .photowall > .mask {
        background-attachment: scroll;
    }
	
	.para {
		text-indent: 0 !important;
	}
}

@media screen and (max-width: 980px) {
	.spe-col > .major {
		text-align: center;
	}
}


