.headerpic {
    transition: opacity 3s ease;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
    background-attachment: fixed, fixed, fixed;
}

.headerpic-show {
    opacity: 1 !important;
}

.headerpic-son {
    transition: opacity 3s ease;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(5px) brightness(100%);
    filter: blur(5px) brightness(100%);
    background-attachment: fixed, fixed, fixed;
}

.photowall {
    background-image: url(../../images/header/other_9.min.png);
    background-attachment: fixed, fixed, fixed;
    background-size: cover;
    position: relative;
	z-index: -1;
	padding: 0;
}

.photowall > .container {
    padding: 0; /* 6em 0 4em 0 */
}

.photowall > .mask {
	filter: blur(10px);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../images/header/other_9.min.png) center / cover no-repeat;
    filter: blur(5px);
    background-attachment: fixed, fixed, fixed;
    z-index: -1;
}

body {
	position: relative;
	z-index: -1000;
}

@media screen and (max-width: 1140px) {
    .photowall > .mask {
        background-attachment: scroll;
    }
}